<p style="padding: 10px; margin: 5px;">
    <label style="padding-right: 10px">Filter Employee: </label>
    <input type="text" [(ngModel)]="filterText" (keyup)="filterEmployeeList()"/>
</p>

<div class="accordion" id="accordionExample"  style="padding: 10px; margin: 5px;">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Add Employee to the List
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <label style="display: inline-block; width: 400px;">Enter Name: </label><input type="text" [(ngModel)]="newEmployee.name" (keyup)="filterEmployeeList()" /><br/><br/>
          <label style="display: inline-block; width: 400px;">Enter Id: </label><input type="text" [(ngModel)]="newEmployee.id" (keyup)="filterEmployeeList()" /><br/><br/>
          <label style="display: inline-block; width: 400px;">Enter Avatar: </label><input type="text" [(ngModel)]="newEmployee.avatar" (keyup)="filterEmployeeList()" /><br/><br/>
          <label style="display: inline-block; width: 400px;">Enter Created At: </label><input type="text" [(ngModel)]="newEmployee.createdAt" (keyup)="filterEmployeeList()" /><br/><br/>
          <input type="button" (click)="addEmployee()" href="#" class="btn btn-primary" value="Add Employee" />
        </div>
      </div>
    </div>
  </div>
<div *ngFor="let employee of filterList" class="card" style="width: 18rem; padding: 10px; margin: 15px; display: inline-block">
  <img src="https://images.pling.com/img/00/00/62/66/55/1750510/the-batman-sketchy-poster-cu-1336x7681.jpg" class="card-img-top" [alt]="employee.name">
  <div class="card-body">
    <h5 class="card-title">{{employee.name}}</h5>
    <p class="card-text">{{employee.id}}: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary" style="padding: 12px; margin: 6px; height: 50px; width:70px;">Add</a>

    <a href="#" class="btn btn-primary" style="padding: 12px; margin: 6px; margin: 6px;height: 50px; width:80px;" (click)="deleteEmployeeList(employee.id) ">Delete</a>
   
  </div>
</div>